<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715284850839-qu89tab6ehqm91hj2dvojushs1dd4qso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715284850839-qu89tab6ehqm91hj2dvojushs1dd4qso</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>715284850839-9gv36pank75bkuk33oh2m26q6qoqurhq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDsupWbU7Htx6QK0x1oes2aq9ARAoHav_A</string>
	<key>GCM_SENDER_ID</key>
	<string>715284850839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.urbandrop.merchant</string>
	<key>PROJECT_ID</key>
	<string>urbandrop-a2c9d</string>
	<key>STORAGE_BUCKET</key>
	<string>urbandrop-a2c9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715284850839:ios:e72f30edd6689844f7a1d2</string>
</dict>
</plist>